body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background: #e89ee7;
  color: rgb(21, 21, 21);
  padding: 10px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

footer {
  background: #e89ee7;
  color: rgb(21, 21, 21);
}
